body #header-container {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
}

    body #header-container #header {
        width: 80%;
        margin: auto;
        padding-top: 62px;
        border-bottom-left-radius: 13px;
        border-bottom-right-radius: 13px;
        background-color: rgba(30, 224, 224, 0.52941176);
    }

        body #header-container #header #artist-info {
            margin: 20px 0 20px 50px;
        }

            body #header-container #header #artist-info #artist-image {
                display: inline-block;
            }

                body #header-container #header #artist-info #artist-image img {
                    height: 135px;
                    border-radius: 50%;
                    border-width: thick;
                    border: solid #ffffff;
                }

            body #header-container #header #artist-info #artist-name-header {
                color: #585858;
                font-size: 23px;
                font-weight: 600;
                position: absolute;
                vertical-align: top;
                display: inline-block;
                margin: 20px 0 0 15px;
                font-family: 'Open Sans', sans-serif;
            }

            body #header-container #header #artist-info #follow-status {
                color: white;
                padding: 3px 16px;
                margin-left: 12px;
                border-radius: 32px;
                display: inline-block;
                vertical-align: bottom;
                border: solid 2px white;
                text-transform: uppercase;
            }

        body #header-container #header .links-container {
            padding-bottom: 13px;
        }

            body #header-container #header .links-container ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                font-family: roboto;
                font-size: 17px;
            }

                body #header-container #header .links-container ul li {
                    display: inline;
                }

body #artist-content-container {
    /*margin: 220px 0 0 0;*/
}

body #users-library-header {
    color: #585858;
    font-size: 30px;
    cursor: default;
    font-weight: 600;
    margin-bottom: 15px;
}

body #artist-content-container,
body #users-library-content {
    left: 0;
    width: 100%;
    position: absolute;
    /*margin-bottom: 50px;*/
}

    body #artist-content-container #artist-content,
    body #users-library-content #artist-content,
    body #artist-content-container #library-content,
    body #users-library-content #library-content {

    }

        body #artist-content-container #artist-content .album-container .album-image,
        body #users-library-content #artist-content .album-container .album-image,
        body #artist-content-container #library-content .album-container .album-image,
        body #users-library-content #library-content .album-container .album-image,
        body #artist-content-container #artist-content .singles-container .album-image,
        body #users-library-content #artist-content .singles-container .album-image,
        body #artist-content-container #library-content .singles-container .album-image,
        body #users-library-content #library-content .singles-container .album-image,
        body #artist-content-container #artist-content #music-container .album-image,
        body #users-library-content #artist-content #music-container .album-image,
        body #artist-content-container #library-content #music-container .album-image,
        body #users-library-content #library-content #music-container .album-image {
            border-radius: 13px;
        }

        body #artist-content-container #artist-content .album-container table,
        body #users-library-content #artist-content .album-container table,
        body #artist-content-container #library-content .album-container table,
        body #users-library-content #library-content .album-container table,
        body #artist-content-container #artist-content .singles-container table,
        body #users-library-content #artist-content .singles-container table,
        body #artist-content-container #library-content .singles-container table,
        body #users-library-content #library-content .singles-container table,
        body #artist-content-container #artist-content #music-container table,
        body #users-library-content #artist-content #music-container table,
        body #artist-content-container #library-content #music-container table,
        body #users-library-content #library-content #music-container table {
            margin-top: 20px;
        }

            body #artist-content-container #artist-content .album-container table .add-to-playlist-icon,
            body #users-library-content #artist-content .album-container table .add-to-playlist-icon,
            body #artist-content-container #library-content .album-container table .add-to-playlist-icon,
            body #users-library-content #library-content .album-container table .add-to-playlist-icon,
            body #artist-content-container #artist-content .singles-container table .add-to-playlist-icon,
            body #users-library-content #artist-content .singles-container table .add-to-playlist-icon,
            body #artist-content-container #library-content .singles-container table .add-to-playlist-icon,
            body #users-library-content #library-content .singles-container table .add-to-playlist-icon,
            body #artist-content-container #artist-content #music-container table .add-to-playlist-icon,
            body #users-library-content #artist-content #music-container table .add-to-playlist-icon,
            body #artist-content-container #library-content #music-container table .add-to-playlist-icon,
            body #users-library-content #library-content #music-container table .add-to-playlist-icon,
            body #artist-content-container #artist-content .album-container table .ARfromLibrary,
            body #users-library-content #artist-content .album-container table .ARfromLibrary,
            body #artist-content-container #library-content .album-container table .ARfromLibrary,
            body #users-library-content #library-content .album-container table .ARfromLibrary,
            body #artist-content-container #artist-content .singles-container table .ARfromLibrary,
            body #users-library-content #artist-content .singles-container table .ARfromLibrary,
            body #artist-content-container #library-content .singles-container table .ARfromLibrary,
            body #users-library-content #library-content .singles-container table .ARfromLibrary,
            body #artist-content-container #artist-content #music-container table .ARfromLibrary,
            body #users-library-content #artist-content #music-container table .ARfromLibrary,
            body #artist-content-container #library-content #music-container table .ARfromLibrary,
            body #users-library-content #library-content #music-container table .ARfromLibrary,
            body #artist-content-container #artist-content .album-container table .add-to-listen-later-icon,
            body #users-library-content #artist-content .album-container table .add-to-listen-later-icon,
            body #artist-content-container #library-content .album-container table .add-to-listen-later-icon,
            body #users-library-content #library-content .album-container table .add-to-listen-later-icon,
            body #artist-content-container #artist-content .singles-container table .add-to-listen-later-icon,
            body #users-library-content #artist-content .singles-container table .add-to-listen-later-icon,
            body #artist-content-container #library-content .singles-container table .add-to-listen-later-icon,
            body #users-library-content #library-content .singles-container table .add-to-listen-later-icon,
            body #artist-content-container #artist-content #music-container table .add-to-listen-later-icon,
            body #users-library-content #artist-content #music-container table .add-to-listen-later-icon,
            body #artist-content-container #library-content #music-container table .add-to-listen-later-icon,
            body #users-library-content #library-content #music-container table .add-to-listen-later-icon {
                height: 20px;
                float: right;
                margin-right: 30px;
            }

            body #artist-content-container #artist-content .album-container table .remove-listen-later-icon,
            body #users-library-content #artist-content .album-container table .remove-listen-later-icon,
            body #artist-content-container #library-content .album-container table .remove-listen-later-icon,
            body #users-library-content #library-content .album-container table .remove-listen-later-icon,
            body #artist-content-container #artist-content .singles-container table .remove-listen-later-icon,
            body #users-library-content #artist-content .singles-container table .remove-listen-later-icon,
            body #artist-content-container #library-content .singles-container table .remove-listen-later-icon,
            body #users-library-content #library-content .singles-container table .remove-listen-later-icon,
            body #artist-content-container #artist-content #music-container table .remove-listen-later-icon,
            body #users-library-content #artist-content #music-container table .remove-listen-later-icon,
            body #artist-content-container #library-content #music-container table .remove-listen-later-icon,
            body #users-library-content #library-content #music-container table .remove-listen-later-icon {
                height: 18px;
                width: 18px;
                float: right;
            }

            body #artist-content-container #artist-content .album-container table .ARfromLibrary.tick,
            body #users-library-content #artist-content .album-container table .ARfromLibrary.tick,
            body #artist-content-container #library-content .album-container table .ARfromLibrary.tick,
            body #users-library-content #library-content .album-container table .ARfromLibrary.tick,
            body #artist-content-container #artist-content .singles-container table .ARfromLibrary.tick,
            body #users-library-content #artist-content .singles-container table .ARfromLibrary.tick,
            body #artist-content-container #library-content .singles-container table .ARfromLibrary.tick,
            body #users-library-content #library-content .singles-container table .ARfromLibrary.tick,
            body #artist-content-container #artist-content #music-container table .ARfromLibrary.tick,
            body #users-library-content #artist-content #music-container table .ARfromLibrary.tick,
            body #artist-content-container #library-content #music-container table .ARfromLibrary.tick,
            body #users-library-content #library-content #music-container table .ARfromLibrary.tick {
                height: 20px;
                width: 20px;
            }

            body #artist-content-container #artist-content .album-container table .ARfromLibrary.plus,
            body #users-library-content #artist-content .album-container table .ARfromLibrary.plus,
            body #artist-content-container #library-content .album-container table .ARfromLibrary.plus,
            body #users-library-content #library-content .album-container table .ARfromLibrary.plus,
            body #artist-content-container #artist-content .singles-container table .ARfromLibrary.plus,
            body #users-library-content #artist-content .singles-container table .ARfromLibrary.plus,
            body #artist-content-container #library-content .singles-container table .ARfromLibrary.plus,
            body #users-library-content #library-content .singles-container table .ARfromLibrary.plus,
            body #artist-content-container #artist-content #music-container table .ARfromLibrary.plus,
            body #users-library-content #artist-content #music-container table .ARfromLibrary.plus,
            body #artist-content-container #library-content #music-container table .ARfromLibrary.plus,
            body #users-library-content #library-content #music-container table .ARfromLibrary.plus {
                height: 17px;
                width: 20px;
            }

            body #artist-content-container #artist-content .album-container table th,
            body #users-library-content #artist-content .album-container table th,
            body #artist-content-container #library-content .album-container table th,
            body #users-library-content #library-content .album-container table th,
            body #artist-content-container #artist-content .singles-container table th,
            body #users-library-content #artist-content .singles-container table th,
            body #artist-content-container #library-content .singles-container table th,
            body #users-library-content #library-content .singles-container table th,
            body #artist-content-container #artist-content #music-container table th,
            body #users-library-content #artist-content #music-container table th,
            body #artist-content-container #library-content #music-container table th,
            body #users-library-content #library-content #music-container table th,
            body #artist-content-container #artist-content .album-container table td,
            body #users-library-content #artist-content .album-container table td,
            body #artist-content-container #library-content .album-container table td,
            body #users-library-content #library-content .album-container table td,
            body #artist-content-container #artist-content .singles-container table td,
            body #users-library-content #artist-content .singles-container table td,
            body #artist-content-container #library-content .singles-container table td,
            body #users-library-content #library-content .singles-container table td,
            body #artist-content-container #artist-content #music-container table td,
            body #users-library-content #artist-content #music-container table td,
            body #artist-content-container #library-content #music-container table td,
            body #users-library-content #library-content #music-container table td {
                border: none;
                cursor: pointer;
            }

            body #artist-content-container #artist-content .album-container table tr:nth-child(even),
            body #users-library-content #artist-content .album-container table tr:nth-child(even),
            body #artist-content-container #library-content .album-container table tr:nth-child(even),
            body #users-library-content #library-content .album-container table tr:nth-child(even),
            body #artist-content-container #artist-content .singles-container table tr:nth-child(even),
            body #users-library-content #artist-content .singles-container table tr:nth-child(even),
            body #artist-content-container #library-content .singles-container table tr:nth-child(even),
            body #users-library-content #library-content .singles-container table tr:nth-child(even),
            body #artist-content-container #artist-content #music-container table tr:nth-child(even),
            body #users-library-content #artist-content #music-container table tr:nth-child(even),
            body #artist-content-container #library-content #music-container table tr:nth-child(even),
            body #users-library-content #library-content #music-container table tr:nth-child(even) {
                background: rgba(50, 138, 158, 0.07843137);
            }

            body #artist-content-container #artist-content .album-container table tr:hover :not(.table-header),
            body #users-library-content #artist-content .album-container table tr:hover :not(.table-header),
            body #artist-content-container #library-content .album-container table tr:hover :not(.table-header),
            body #users-library-content #library-content .album-container table tr:hover :not(.table-header),
            body #artist-content-container #artist-content .singles-container table tr:hover :not(.table-header),
            body #users-library-content #artist-content .singles-container table tr:hover :not(.table-header),
            body #artist-content-container #library-content .singles-container table tr:hover :not(.table-header),
            body #users-library-content #library-content .singles-container table tr:hover :not(.table-header),
            body #artist-content-container #artist-content #music-container table tr:hover :not(.table-header),
            body #users-library-content #artist-content #music-container table tr:hover :not(.table-header),
            body #artist-content-container #library-content #music-container table tr:hover :not(.table-header),
            body #users-library-content #library-content #music-container table tr:hover :not(.table-header) {
                background: rgba(50, 138, 158, 0.18);
            }
